* {
    margin: 0;
    padding: 0;
}

.div0-1 {
    display: inline-block;
    height: 100vh;
    position: absolute;
    left: 0;
}

.div0-2 {
    display: inline-block;
    height: 100vh;
    position: absolute;
    right: 0;
}

.div1-0 {
    background-color: red;
    margin: 10vh 20px;
    padding: 0px auto;
    position: relative;
    height: 70vh;
    width: 20vw;
}

.div1-0 div {
    position: absolute;
    margin: 20px 5vw;
    height: 30px;
    width: 10vw;

}

.div1-1 {
    background-color: rgb(7, 254, 7);
    top: 0px;
}

.div1-2 {
    background-color: black;
    bottom: 0px;
}

.div2-0 {
    background-color: rgb(74, 163, 74);
    width: 30vw;
    height: 12vh;
    position: relative;
}

.div2-1 {
    background-color: black;
    width: 15vw;
    height: 6vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

.div3-0 {
    background-color: blue;
    width: 20vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

.div3-1 {
    background-color: black;
    width: 15vw;
    height: 10vh;
    position: relative;
    top: 2vh
}