div {
    height: 50vh;
    width: 50vw;
    position: absolute;

    animation-name: girar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.div1 {
    background-color: red;
    top: 0;
    left: 0;
}

.div2 {
    background-color: blue;
    bottom: 0;
    right: 0;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}